@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{

    background:#fff;
}

.form-container{

    position: relative;
    width: 450px;
    height: 75vh;
    margin-top: 8%;
    left: 50%;
    transform:translateX(-50%);
    background:#fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.3)
    
}

.form-container button{

    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size: 1em;
    z-index: 2;
    outline: none;
    background: #fff;
    transition: 0.2s;
}

.form-container .btn:hover{

    background-color: rgb(12, 152, 245);
}

.form-container .btn{

    border-radius: 20px;
    border:none;
    font-size: 1rem;
    padding: 10px 20px;
    transition:0.5s;
    border: 1px solid #ebebeb;
    margin-bottom: 1px;
    margin-top: 1px;
}

.form-container .login, .form-container .signup{
   
    background:#3671dd;
    color:#fff;

}

.form-toggle{

    position: relative;
    width: 100%;
    height: auto;
}

.form-toggle button{

    width: 50%;
    float: left;
    padding: 5%;
    margin-bottom: 1.5em;
    border: none;
    transition: 0.2s;
    font-size: 1.2rem;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1){
    border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2){
    border-bottom-left-radius: 20px;
}

#login-toggle{
    background:#3671dd;
    color:#ffff;
}

.form-container form{

    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
   

}

#signup-form{

    display: none;
} 

#login-form button, #signup-form button{

    width: 100%;
    padding: 2% 5%;
    margin-top: 5%;
   
}

.form-container input{

    position: relative;
    width: 100%;
    font-size: 15px;
    padding: 10px 5%;
    margin: 2%;
    margin-left: -1%;
    border-radius: 20px;
    border: none;
    background: #ebebeb;
    outline: none;
    font-weight: lighter;
    transition: 0.4s;
}

.form-container input:focus, .form-container input:active{

    transform: scaleX(1.02);
}

.form-container input::-webkit-input-placeholder{

    color: #222;
}

.form-container p{

    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    transition: 0.2s;
    margin-top: 8%;
}

.form-container a{

    text-decoration: none;
    color:black;
    font-weight: 700;
    transition: 0.2s;
}

.form-container a:hover{

    color: rgb(111, 180, 226);
    
}

.form-container i {
    position: relative;
    left: 43%;
    top: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 0px 5px;
    font-size: 1.5rem;
    transform:translateX(-10%) translateY(-50%); 
    cursor: pointer;
}

.fa-google{

    color: rgba(52, 50, 68, 0.897);
}

.fa-facebook{
    
    color: rgba(52, 50, 68, 0.897);
}

.fa-google:hover{

    color: rgba(255, 0, 0, 0.87);
}

.fa-facebook:hover{

    color: rgba(0, 0, 255, 0.884);
}

@media(max-width: 786px){

    .form-container{

        width: 100%;
    }
}